<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="redex.mit.lvpei.eyesmart_v1" >


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".OptionListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OptionDetailActivity"
            android:label="@string/title_option_detail"
            android:parentActivityName=".OptionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OptionListActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_option_detail" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_option_detail" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectionFile"
            android:label="Selection" >
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />


</manifest>
